{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}
{% block bodyargs %}onload="document.forms['saml'].submit()"{% endblock %}

{% block content %}
<div class="post-redirect">
<h2>{{ title }}</h2>
<form action="{{url}}" method="post" name="saml">
   <p>{% trans "You should be automatically redirected." %}</p>
   <p>{% trans "If this page is still visible after a few seconds, press the Send button below." %}</p>
   <input type="hidden" name="{{ fieldname }}" value="{{ body }}" />
   {% if relay_state %}
   <input type="hidden" name="RelayState" value="{{ relay_state }}"/>
   {% endif %}
   <noscript>
     <div class="buttons-bar">
      <input type="submit" name="sendButton" value="{% trans 'Send' %}" />
     </div>
  </noscript>
  </form>
</div>
{% endblock %}
