#!/bin/sh

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    . /usr/share/dbconfig-common/dpkg/config
    dbc_dbtypes="pgsql"
    dbc_pgsql_createdb_encoding="UTF8"
    dbc_authmethod_user="ident"
    dbc_dbuser="authentic"
    dbc_dbname="authentic2"
    dbc_remote_questions_default=true
    dbc_go authentic2 $@
fi

#DEBHELPER#
