Source: authentic2
Section: python
Priority: optional
Maintainer: Jerome Schneider <jschneider@entrouvert.com>
Build-Depends-Indep: python-all-dev (>= 2.6)
Build-Depends: debhelper (>= 8.0), python-setuptools, python-django (>= 1.5)
Standards-Version: 3.8.3
Homepage: http://authentic.labs.libre-entreprise.org
X-Python-Version: >= 2.6

Package: python-authentic2
Architecture: all
Pre-Depends: python-django (>= 1.5), python-django (< 1.6), openssl
Depends: ${misc:Depends}, ${python:Depends},
    python-django-registration (>= 1.0),
    python-requests,
    python-django-south (>= 0.7), python-django-south (<< 0.9),
    python-django-admin-tools, python-lasso, python-dnspython,
    python-gadjo
Recommends: python-openid, python-ldap
Suggests: python-raven
Description: Versatile identity server
 Authentic is a versatile identity provider aiming to address a broad
 range of needs, from simple to complex setups; it has support for many
 protocols and can bridge between them.
 .
 It has support for ID-FF and SAMLv2 thanks to Lasso, a free (GNU GPL)
 implementation of the Liberty Alliance specifications.

Package: authentic2
Architecture: all
Pre-Depends: python-django (>= 1.5)
Depends: ${misc:Depends}, adduser,
    python-authentic2, python-psycopg2,
    gunicorn, dbconfig-common,
    debconf | debconf-2.0, ucf
Recommends: postgresql-client
Suggests: nginx
Description: Versatile identity server Python module
 Authentic is a versatile identity provider aiming to address a broad
 range of needs, from simple to complex setups; it has support for many
 protocols and can bridge between them.
 .
 It has support for ID-FF and SAMLv2 thanks to Lasso, a free (GNU GPL)
 implementation of the Liberty Alliance specifications.

