Django<1.6
south>=0.8.4
requests
django-model-utils
django-debug-toolbar>=1.2,<1.3
--allow-external django-admin-tools
--allow-unverified django-admin-tools
django-admin-tools>=0.5.1
dnspython
django-select2
django-tables2
gadjo
django-import-export
