{% extends "authentic2/manager/roles.html" %}

{% load i18n staticfiles django_tables2 %}

{% block extra_scripts %}
  {{ block.super }}
  {{ choose_user_form.media }}
{% endblock %}

{% block content %}
   <div class="role-info">
     <form id="delete-form" action="?delete" method="post">
        {% csrf_token %}
        <button>{% trans "Delete" %}</button>
     </form>
     <h3>{% trans "Users with role" %}: {{ active_role.name }} <a rel="popup" class="edit-button" href="{% url "a2-manager-role-edit" role_ref=active_role.ref %}">Edit</a></h3>
     <div id="search-form">
       {% trans "Search" %}: <input id="search-input" type="text" value="{{ request.GET.search }}">
       <button id="search-input-clear-btn">{% trans "Clear" %}</button>
     </div>

     {% render_table users "authentic2/manager/table.html" %}

     <ul class="js-table-menu" data-selector="#user-table" class="ui-helper-hidden">
       <li data-command="remove"><a href="#">{% trans "Remove" %}</a></li>
     </ul>

     <form method="post" id="add-user-role">
             Ajouter un utilisateur à ce rôle :
             {% csrf_token %}
             {{ choose_user_form }}
             <button>Valider</button>
     </form>
   </div>
{% endblock %}
