{% extends "authentic2/manager/roles.html" %}

{% load i18n staticfiles django_tables2 %}

{% block extra_scripts %}
  {{ block.super }}
  {{ choose_user_form.media }}
{% endblock %}

{% block content %}
   <div class="role-info">
     <h3 style="margin-top: 0;">{% trans "Users with role" %}: {{ active_role.name }}</h3>

     {% render_table users "authentic2/manager/role_users_table.html" %}

     <ul class="js-table-menu" data-selector="#user-table" class="ui-helper-hidden">
       <li data-command="remove"><a href="#">{% trans "Remove" %}</a></li>
     </ul>

     <form method="post" id="add-user-role">
             Ajouter un utilisateur à ce rôle :
             {% csrf_token %}
             {{ choose_user_form.ref }}
             <button>Valider</button>
     </form>
   </div>
{% endblock %}
