{% extends "base.html" %}
{% load i18n sekizai_tags gadjo %}

{% block title %}
  {% trans "Log in" %}
{% endblock %}

{% block content %}
  <div id="tabs">
    <ul>
      {% for id, login_block in blocks.iteritems %}
      <li>
        <a href="#tabs-{{id}}">{{ login_block.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% for id, login_block in blocks.iteritems %}
      <div id="tabs-{{id}}">
        {{ login_block.content|safe }}
      </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
    $( "#tabs" ).tabs({cookie: {path: '/'}});
  </script>
  {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}jquery/css/jquery-ui.custom.css" />{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}ulx/css/ulx.css" />{% endaddtoblock %}
  {% addtoblock "js" %}<script type="text/javascript" src="{% xstatic 'jquery' 'jquery.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script type="text/javascript" src="{% xstatic 'jquery-ui' 'jquery-ui.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery.cookie.js"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery.simplemodal.js"></script>{% endaddtoblock %}
{% endblock %}
