{% extends "gadjo/base.html" %}
{% load i18n authentic2 %}

{% block page-title %}Authentic2 - {{ request.get_host }}{% endblock %}

{% block site-title %}Authentic2 - {{ request.get_host }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}authentic2/css/style.css" />
  {% renderblock "css" %}
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  {% comment %}block extra_scripts is kept for compatibility with old themes{% endcomment %}
  {% block extra_scripts %}
  {% endblock %}
  {% renderblock "js" %}
{% endblock %}

{% block user-links %}
  <ul class="user-info">
    {% if user.is_authenticated %}
      <li class="ui-name" title="{% blocktrans %}Last login {{ LAST_LOGIN }}{% endblocktrans %}">{{ user.get_full_name }}</li>
      <li class="ui-logout"><a href="{% block logout-url %}{% url 'auth_logout' %}{% endblock %}">{% trans "Logout" %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block footer %}
  Copyright &copy; 2013 Entr'ouvert&nbsp;&mdash;&nbsp;{{ AUTHENTIC2_VERSION }}
{% endblock %}

{% block page-end %}
  {% renderblock "js-endpage" %}
{% endblock %}
