{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block page-title %}
  {{ block.super }} - {% trans "Email change" %}
{% endblock %}

{% block breadcrumb %}
 {{ block.super }}
 <a href="..">{% trans "Your account" %}</a>
 <a href="">{% trans "Change email" %}</a>
{% endblock %}

{% block content %}
  <p>{% blocktrans with email=user.email %}Your current email is {{ email }}.
  An email will be sent to validate the new one.{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Validate" %}"/>
    <input type="submit" name="cancel" formnovalidate value="{% trans "Cancel" %}"/>
  </form>
{% endblock %}
