{% extends "authentic2/base-page.html" %}
{% load i18n gadjo authentic2 staticfiles %}

{% block gadjo-jquery %}{% endblock %}

{% block page-tile %}
  {{ block.super}} - {% trans "Login" %}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "authentic2/css/css-tabs.css" %}">
{% endblock %}

{% block content %}
  <div id="a2-login-forms">
    {% for id, login_block in blocks.iteritems %}
      {% if not login_block.is_hidden %}
        <span id="css-tab{{ forloop.counter }}"></span>
      {% endif %}
    {% endfor %}

    {% if blocks|length != 1 %}
      {% for id, login_block in blocks.iteritems %}
        {% if not login_block.is_hidden %}
          <a class="css-tab-link css-tab{{ forloop.counter }} {% if forloop.first %}css-tab-default{% endif %}" href="#css-tab{{ forloop.counter }}">
              {{ login_block.name }}
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% for id, login_block in blocks.iteritems %}
      <div class="css-tab-content css-tab{{ forloop.counter }} {% if forloop.first %}css-tab-default{% endif %}">
        {{ login_block.content|safe }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
