{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Authentic - Account Management" %}
{% endblock %}


{% block content %}
<h2>{% trans "Account Management" %}</h2>
<h3>{% trans "Profile" %}</h3>
<div id="profile">
{% if profile %}
<dl>
{% for key, values in profile %}
<dt>{{ key|capfirst }}</dt>
<dd>{% if values|length == 1 %}{{ values.0 }}{% else %}
<ul>
  {% for value in values %}
    <li>{{ value }}</li>
  {% endfor %}
</ul>
{% endif %}
</dd>
{% endfor %}
</dl>
{% endif %}
{% if allow_email_change %}
<p><a href="{% url 'email-change' %}">{% trans "Change email" %}</a></p>
{% endif %}
{% if allow_profile_edit %}
<p><a href="{% url 'profile_edit' %}">{% trans "Edit profile" %}</a></p>
{% endif %}
<p><a href="{% url 'delete_account' %}">{% trans "Delete profile" %}</a></p>
</div>
<h3>{% trans "Credentials" %}</h3>
  {% for html_block in frontends_block %}
    {{ html_block|safe }}
  {% endfor %}
<p><a href="/">{% trans "Back" %}</a></p>
{% endblock %}
