{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Authentic - Account Management" %}
{% endblock %}


{% block content %}
<h2>{% trans "Account Management" %}</h2>
<h3>{% trans "Profile" %}</h3>
<div id="profile">
{% if profile %}
<dl>
{% for key, value in profile %}
<dt>{{ key|capfirst }}</dt>
<dd>{{ value }}</dd>
{% endfor %}
</dl>
{% endif %}
<p> <a href="{% url 'profile_edit' %}">{% trans "Edit profile" %}</a></p>
</div>
<h3>{% trans "Credentials" %}</h3>
  {% for html_block in frontends_block %}
    {{ html_block|safe }}
  {% endfor %}
<p><a href="/">{% trans "Back" %}<a/></p>
{% endblock %}
