{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Logout" %}
{% endblock %}

{% block content %}
<script>
  window.iframe_count = 0;
</script>

<h1>{% trans message %}</h1>
<ul class="logout-list">
    {% for fragment in logout_list %}
        {{ fragment|safe }}
    {% endfor %}
</ul>

<script>
  window.iframe_count += document.getElementsByTagName("iframe").length;
  console.log('logout iframe count: ' + window.iframe_count);
  setInterval(function () {
    console.log('logout check iframe count: ' + window.iframe_count);
    if (iframe_count == 0) {
      window.location = '{{ next_page }}';
    }
  }, {{ redir_timeout }})
</script>

<div id="continue-link"><a href="{{ next_page }}">{% trans "Continue logout" %}</div>

{% endblock %}
