#!/usr/bin/make -f

authentic2=$(CURDIR)/debian/authentic2
pythonauthentic2=$(CURDIR)/debian/python-authentic2

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install
	mv $(CURDIR)/debian/tmp/usr/bin/authentic2-ctl $(pythonauthentic2)/usr/lib/authentic2/manage.py

