#!/usr/bin/make -f

d=$(CURDIR)/debian/authentic2

%:
	dh $@ --with python2

# FIXME: remove this overrides when we will have a clean upstream branch
override_dh_auto_clean:
	git status
	dh_auto_clean

override_dh_auto_build:
	git status
	dh_auto_build

override_dh_auto_install:
	git status
	dh_auto_install
	install -m 0755 -d $(d)/var/lib/authentic2
	mv $(d)/usr/bin/authentic2-ctl $(d)/var/lib/authentic2/manage.py

