#!/usr/bin/make -f

authentic2=$(CURDIR)/debian/authentic2
pythonauthentic2=$(CURDIR)/debian/python-authentic2

%:
	dh $@ --with python2

override_dh_install:
	dh_install
	mv $(CURDIR)/debian/tmp/usr/bin/authentic2-ctl $(pythonauthentic2)/usr/lib/authentic2/manage.py
	install -m 755 -o root -g root debian/sql/syncdb.sh $(authentic2)/usr/share/dbconfig-common/scripts/authentic2/install/pgsql

