{% extends "gadjo/base.html" %}
{% load i18n staticfiles %}
{% load django_select2_tags %}

{% block page-title %}{% trans "Management" %}{% endblock %}

{% block site-title %}Authentic2{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" media="all" href="{% static "authentic2/manager/css/style.css" %}"/>
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  {% if debug %}
    <script src="{% static "jquery/js/jquery.form.js" %}"></script>
  {% else %}
    <script src="{% static "jquery/js/jquery.form.min.js" %}"></script>
  {% endif %}
  <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
  <script type="text/javascript" src="{% static "authentic2/js/purl.js" %}"></script>
  <script type="text/javascript" src="{% static "authentic2/manager/js/manager.js" %}"></script>
  {% import_django_select2_js %}
  {% import_django_select2_css %}
  <script type="text/javascript" src="{% url 'a2-manager-javascript-catalog' %}"></script>
  <script type="text/javascript" src="{% static "authentic2/manager/js/select2_locale.js" %}"></script>
  <script>
    window.csrf_token = '{{ csrf_token }}';
  </script>
{% endblock %}

{% block homepage-url %}{% url 'auth_homepage' as default_homepage_url %}{% firstof manager_homepage_url default_homepage_url %}{% endblock %}

{% block homepage-title %}{% trans 'Homepage' as default_homepage_title %}{% firstof manager_homepage_title default_homepage_title %}{% endblock %}

{% block more-user-links %}
  {{ block.super }}
  {% if not manager_homepage_url %}
    <a href="{% url 'a2-manager-homepage' %}">{% trans 'Identity and access management' %}</a>
  {% endif %}
{% endblock %}

{% block user-links %}
  <ul class="user-info">
    {% if user.is_authenticated %}
      <li class="ui-name">{{ user.get_full_name }}</li>
      <li class="ui-logout"><a href="{{ logout_url }}">{% trans "Logout" %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block appbar %}
  <h2>{% block page_title %}{% endblock %}</h2>
{% endblock %}

