{% extends "gadjo/base.html" %}
{% load i18n staticfiles %}
{% load firstof from future %}

{% block page-title %}{% firstof site_title "Authentic2" %}{% endblock %}
{% block site-title %}{% firstof site_title "Authentic2" %}{% endblock %}

{% block user-links %}
  <ul class="user-info">
    {% if user.is_authenticated %}
      <li class="ui-name">{{ user.get_full_name }}</li>
      <li class="ui-logout"><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block appbar %}
  <h2>{% block page_title %}{% endblock %}</h2>
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  <script>
    window.csrf_token = '{{ csrf_token }}';
  </script>
{% endblock %}

{% block homepage-url %}{% url 'auth_homepage' as default_homepage_url %}{% firstof manager_homepage_url default_homepage_url %}{% endblock %}

{% block homepage-title %}{% trans 'Homepage' as default_homepage_title %}{% firstof manager_homepage_title default_homepage_title %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  {% if not manager_homepage_url %}
    <a href="{% url 'a2-manager-homepage' %}">{% trans 'Administration' %}</a>
  {% endif %}
{% endblock %}
