{% extends "authentic2/manager/base.html" %}
{% load i18n %}

{% block beforecontent %}
{% endblock %}

{% block appbar %}
   <h2>{% trans "Welcome" %}</h2>
{% endblock %}

{% block content %}
  <div id="content">
     <div id="user-info">
       {{ user.get_full_name }}
       (<a href="{% url "password_change" %}?next={{ request.path|urlencode }}">{% trans "Password change" %}</a>)
     </div>

      <ul class="apps">
        {% if perms.any.a2_rbac.view_organizationalunit %}
          <li class="icon-organizational-units">
            <a href="{% url "a2-manager-ous" %}">
              {% trans "Organizational units" %}
            </a>
          </li>
        {% endif %}
        {% if perms.any.custom_user.view_user %}
          <li class="icon-users">
            <a href="{% url "a2-manager-users" %}">
              {% trans "Users" %}
            </a>
          </li>
        {% endif %}
        {% if perms.any.a2_rbac.view_role %}
          <li class="icon-roles">
            <a href="{% url "a2-manager-roles" %}">
              {% trans "Roles" %}
            </a>
          </li>
        {% endif %}
        {% if perms.any.authentic2.view_service %}
          <li class="icon-services">
            <a href="{% url "a2-manager-services" %}">
              {% trans "Services" %}
            </a>
          </li>
        {% endif %}
      </ul>
      <br style="clear: both;"/>
  </div>
{% endblock %}
