{% extends "authentic2/manager/base.html" %}
{% load i18n %}

{% block beforecontent %}
{% endblock %}

{% block appbar %}
   <h2>{% trans "Welcome" %}</h2>
{% endblock %}

{% block content %}
  <div id="content">
     <div id="user-info">
       {{ user.get_full_name }}
       (<a href="{% url "password_change" %}?next={{ request.path|urlencode }}">{% trans "Password change" %}</a>)
     </div>

      <ul class="apps">
        {% if perms.any.a2_rbac.view_organizationalunit %}
          <li id="organizational-units">
            <a href="{% url "a2-manager-ous" %}">
              {% trans "Organizational units management" %}
            </a>
          </li>
        {% endif %}
        {% if perms.any.custom_user.view_user %}
	  <li id="users">
            <a href="{% url "a2-manager-users" %}">
              {% trans "User management" %}
            </a>
          </li>
        {% endif %}
        {% if perms.any.auth.view_group %}
	  <li id="groups">
            <a href="{% url "a2-manager-groups" %}">
              {% trans "Group management" %}
            </a>
          </li>
        {% endif %}
        {% if perms.any.a2_rbac.view_role %}
          <li id="roles">
            <a href="{% url "a2-manager-roles" %}">
              {% trans "Roles management" %}
            </a>
          </li>
        {% endif %}
      </ul>
      <br style="clear: both;"/>
  </div>
{% endblock %}
