{% extends "authentic2/manager/sidebar.html" %}
{% load i18n %}

{% block messages %}
{% endblock %}

{% block main %}
  {% if title %}
    <div id="appbar"><h2>{{ title }}</h2></div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-inner-container">
      {% block caption %}
      <p>{% blocktrans with user_count=object.user_set.count service_count=object.service_set.count %}There are currently {{ user_count }} users and {{ service_count }} services in this organizational unit. They will all be deleted. Are you sure you want to delete organizational unit "{{ object }}"&nbsp;?{% endblocktrans %}</p>
      {% endblock %}
      <div class="buttons">
        <button>{% trans "Delete" %}</button>
        <a class="cancel" href="..">{% trans "Cancel" %}</a>
      </div>
    </div>
  </form>
{% endblock %}
