{% extends "authentic2/manager/ou_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block page-title %}{{ block.super }} - {% trans "Services management" %}{% endblock %}

{% block more-user-links %}
  {{ block.super }}
{% endblock %}

{% block appbar %}
  {{ block.super }}
  <p><a href="{% url "a2-manager-ou-add" %}" rel="popup">{% blocktrans %}Add {{ model_name }}{% endblocktrans %}</a></p>
{% endblock %}

{% block sidebar %}
   <div id="search-form">
     <form method="get">
       <h3>{% trans "Search" %}</h3>
       {{ search_form.as_p }}
       <button>{% trans "Search" %}</button>
     </form>
   </div>
{% endblock %}

{% block main %}
  {% with row_link=1 popup_edit=1 %}
      {% render_table table "authentic2/manager/ous_table.html" %}
  {% endwith %}
{% endblock %}
