{% extends "authentic2/manager/ou_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block page-title %}{{ block.super }} - {% trans "Organizational units" %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
{% endblock %}

{% block page_title %}
  {% trans "Organizational units" %}
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if view.can_add %}
    <a href="{% url "a2-manager-ou-add" %}" rel="popup">{% blocktrans %}Add {{ model_name }}{% endblocktrans %}</a>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include "authentic2/manager/search_form.html" %}
{% endblock %}

{% block main %}
  {% with row_link=1 %}
      {% render_table table "authentic2/manager/table.html" %}
  {% endwith %}
{% endblock %}
