{% extends "authentic2/manager/role_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="..">{{ object }}</a>
  <a href="#">{% trans "Permissions" %}</a>
{% endblock %}

{% block page_title %}
  {% blocktrans with name=object.name %}Role "{{ name }}"{% endblocktrans %}
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if view.can_delete %}
    <a rel="popup" href="{% url "a2-manager-role-delete" pk=object.pk %}">{% trans "Delete" %}</a>
  {% endif %}
  {% if view.can_change and not object.admin_scope_ct_id %}
    <a rel="popup" href="{% url "a2-manager-role-edit" pk=object.pk %}">{% trans "Edit" %}</a>
    <a href="{% url "a2-manager-role-managers" pk=object.pk %}">{% trans "Managers" %}</a>
  {% endif %}
  <a href="{% url "a2-manager-role-children" pk=object.pk %}">{% trans "Children roles" %}</a>
  <a href="{% url "a2-manager-role-members" pk=object.pk %}">{% trans "Members" %}</a>
{% endblock %}

{% block main %}
   <div class="role-info">
     {% render_table table "authentic2/manager/table.html" %}
   </div>
     {% if perms.a2_rbac.change_role %}
       <form method="post" id="add-role-permission">
               {% csrf_token %}
               {{ form }}
               <button>{% trans "Add" %}</button>
       </form>
     {% endif %}
{% endblock %}
