{% extends "authentic2/manager/role_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block more-user-links %}
  {{ block.super }}
  <a href="#">{% blocktrans with name=object.name %}Permissions of role "{{ name }}"{% endblocktrans %}</a>
{% endblock %}

{% block page_title %}
  {% blocktrans with name=object.name %}Role "{{ name }}"{% endblocktrans %}
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if perms.a2_rbac.delete_role %}
    <a rel="popup" href="{% url "a2-manager-role-delete" pk=object.pk %}">{% trans "Delete" %}</a>
  {% endif %}
  {% if perms.a2_rbac.change_role %}
    <a rel="popup" href="{% url "a2-manager-role-edit" pk=object.pk %}">{% trans "Modify name" %}</a>
  {% endif  %}
  {% if perms.a2_rbac.view_role %}
    <a href="{% url "a2-manager-role-members" pk=object.pk %}">{% trans "Modify members" %}</a>
  {% endif %}
{% endblock %}



{% block main %}
   <div class="role-info">
     {% render_table table "authentic2/manager/table.html" %}
   </div>
     {% if perms.a2_rbac.change_role %}
       <form method="post" id="add-role-permission">
               {% csrf_token %}
               {{ form }}
               <button>{% trans "Add" %}</button>
       </form>
     {% endif %}
{% endblock %}
