{% extends "authentic2/manager/role_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block page_title %}
  {% trans "Roles" %}
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if perms.any.a2_rbac.add_role %}
    <a href="{% url "a2-manager-role-add" %}" rel="popup">{% trans "Add role" %}</a>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include "authentic2/manager/search_form.html" %}
{% endblock %}

{% block main %}
  {% with row_link=1 %}
    {% render_table table "authentic2/manager/table.html" %}
  {% endwith %}
  {% include "authentic2/manager/export_include.html" with export_view_name="a2-manager-roles-export" %}
{% endblock %}
