{% extends "authentic2/manager/role_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="..">{{ object }}</a>
  <a href="#">{% trans "Children roles" %}</a>
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if not object.is_internal and view.can_delete %}
    <a rel="popup" href="{% url "a2-manager-role-delete" pk=object.pk %}">{% trans "Delete" %}</a>
  {% endif %}
  {% if view.can_change and not object.is_internal %}
    <a rel="popup" href="{% url "a2-manager-role-edit" pk=object.pk %}">{% trans "Edit" %}</a>
    {% if ROLES_SHOW_PERMISSIONS %}
      <a href="{% url "a2-manager-role-permissions" pk=object.pk %}">{% trans "Permissions" %}</a>
    {% endif %}
    <a href="{% url "a2-manager-role-managers" pk=object.pk %}">{% trans "Managers" %}</a>
  {% endif %}
  <a href="{% url "a2-manager-role-members" pk=object.pk %}">{% trans "Members" %}</a>
{% endblock %}


{% block extra_scripts %}
  {{ block.super }}
  {{ choose_user_form.media }}
{% endblock %}

{% block main %}
 {% with row_link=1 url_name="a2-manager-role-members" %}
   {% render_table table "authentic2/manager/role_children_table.html" %}
 {% endwith %}

 {% if view.can_change %}
   <form method="post" class="manager-m2m-add-form">
           {% csrf_token %}
           {{ form }}
           <button>{% trans "Add" %}</button>
   </form>
 {% endif %}
{% endblock %}
