{% extends "authentic2/manager/role_common.html" %}
{% load i18n staticfiles django_tables2 %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{% url "a2-manager-role-members" pk=role.pk %}">{{ role }}</a>
  <a href="#">{% trans "Manager roles" %}</a>
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if view.can_view %}
    <a href="{% url "a2-manager-role-managers" pk=role.pk %}">{% trans "Managers" %}</a>
  {% endif %}
{% endblock %}


{% block extra_scripts %}
  {{ block.super }}
  {{ choose_user_form.media }}
{% endblock %}

{% block main %}
 {% with row_link=1 url_name="a2-manager-role-members" %}
   {% render_table table "authentic2/manager/role_children_table.html" %}
 {% endwith %}

 {% if view.can_change %}
   <form method="post" class="manager-m2m-add-form">
           {% csrf_token %}
           {{ form }}
           <button>{% trans "Add" %}</button>
   </form>
 {% endif %}
</div>
{% endblock %}
