{% extends "authentic2/manager/services.html" %}
{% load i18n staticfiles django_tables2 %}

{% block more-user-links %}
  {{ block.super }}
  <a href="{% url 'a2-manager-service' pk=object.pk %}">{{ object.name }}</a>
{% endblock %}

{% block sidebar %}
   <div id="details">
     <h3>{{ object }}</h3>
     <dl>
       {% if object.ou %}
         <dt>{% trans "Organizational unit" %}</dt>
         <dd>{{ object.ou }}</dd>
       {% endif %}
       <dt>{% trans "Name" %}</dt>
       <dd>{{ object.name }}</dd>
       <dt>{% trans "Slug" %}</dt>
       <dd>{{ object.slug }}</dd>
     </dl>
     <button rel="popup" data-url="{% url "a2-manager-service-edit" pk=object.pk %}">{% trans "Edit" %}</button>
   </div>
{% endblock %}

{% block main %}
  {% render_table table "authentic2/manager/table.html" %}
{% endblock %}
