{% extends "authentic2/manager/services.html" %}
{% load i18n staticfiles django_tables2 %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{% url 'a2-manager-service' service_pk=view.kwargs.service_pk %}">{{ view.service.name }}</a>
{% endblock %}

{% block page_title %}
{% trans 'Service' %} - {{ view.service.name }}
{% endblock %}

{% block sidebar %}
   {% include "authentic2/manager/search_form.html" %}
   <div id="details">
     <dl>
       {% if object.ou %}
         <dt>{% trans "Organizational unit" %}</dt>
         <dd>{{ object.ou }}</dd>
       {% endif %}
       <dt>{% trans "Slug" %}</dt>
       <dd>{{ object.slug }}</dd>
     </dl>
     <button rel="popup" data-url="{% url "a2-manager-service-edit" service_pk=view.kwargs.service_pk %}">{% trans "Edit" %}</button>
   </div>
{% endblock %}

{% block main %}
  {% with row_link=1 %}
    {% render_table table "authentic2/manager/table.html" %}
  {% endwith %}
{% endblock %}
