{% extends "authentic2/manager/service.html" %}
{% load i18n staticfiles django_tables2 %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="#">{{ object }}</a>
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if view.can_change and not object.is_internal %}
    <a href="{% url "a2-manager-service-role-managers" service_pk=view.kwargs.service_pk pk=object.pk %}">{% trans "Managers" %}</a>
  {% endif %}
  <a href="{% url "a2-manager-service-role-children" service_pk=view.kwargs.service_pk pk=object.pk %}">{% trans "Children roles" %}</a>
{% endblock %}

{% block sidebar %}
   {% include "authentic2/manager/search_form.html" %}
{% endblock %}

{% block main %}
 {% with row_link=1 url_name="a2-manager-user-edit" %}
   {% render_table table "authentic2/manager/role_members_table.html" %}
 {% endwith %}

 {% include "authentic2/manager/export_include.html" with export_view_name="a2-manager-role-members-export" %}

 {% if view.can_change %}
   <form method="post" class="manager-m2m-add-form">
           {% csrf_token %}
           {{ form }}
           <button>{% trans "Add" %}</button>
   </form>
 {% endif %}
</div>
{% endblock %}
