{% extends "authentic2/manager/service.html" %}
{% load i18n staticfiles django_tables2 %}

{% block more-user-links %}
  {{ block.super }}
  <a href="{% url 'a2-manager-service-role-members' service_pk=view.kwargs.service_pk pk=object.pk %}">{{ object.name }}</a>
  <a href="#">{% trans "Children roles" %}</a>
{% endblock %}

{% block page_title %}
  {% trans "Children roles" %}
{% endblock %}

{% block appbar %}
  {% if view.can_change and not object.admin_scope_ct_id %}
    <a href="{% url "a2-manager-service-role-managers" service_pk=view.kwargs.service_pk pk=object.pk %}">{% trans "Managers" %}</a>
  {% endif %}
  <a href="{% url "a2-manager-service-role-members" service_pk=view.kwargs.service_pk pk=object.pk %}">{% trans "Members" %}</a>
{% endblock %}


{% block extra_scripts %}
  {{ block.super }}
  {{ choose_user_form.media }}
{% endblock %}

{% block main %}
 {% with row_link=1 url_name="a2-manager-role-members" %}
   {% render_table table "authentic2/manager/role_children_table.html" %}
 {% endwith %}

 {% if view.can_change %}
   <form method="post" class="manager-m2m-add-form">
           {% csrf_token %}
           {{ form }}
           <button>{% trans "Add" %}</button>
   </form>
 {% endif %}
{% endblock %}
