{% extends "authentic2/manager/table.html" %}

{% load i18n %}

{% if perms.auth.change_group %}
  {% block table.head.last.column %}
    <th></th>
  {% endblock %}
  {% block table.tbody.last.column %}
    <td>{% if view.can_change %}<a class="icon-remove-sign js-remove-object" data-confirm="{% blocktrans with name=row.record.name slug=row.record.slug %}Do you really want to remove role &quot;{{ name }}&quot; from service &quot;{{ object }}&quot;&nbsp;?{% endblocktrans %}" href="#" data-pk-arg="role"></a>{% endif %}</td>
  {% endblock %}
{% endif %}
