{% extends "authentic2/manager/sidebar.html" %}
{% load i18n staticfiles django_tables2 %}

{% block page-title %}{{ block.super }} - {% trans "Users management" %}{% endblock %}

{% block page_title %}{% trans "Users management" %}{% endblock %}

{% block appbar %}
  {{ block.super }}
   {% if view.can_add %}
     <a rel="popup"
        href="{% url "a2-manager-user-add" %}"
        id="add-user-btn">
         {% trans "Add user" %}
     </a>
   {% endif %}
{% endblock %}

{% block more-user-links %}
  {{ block.super }}
  <a href="{% url 'a2-manager-users' %}">{% trans 'User management' %}</a>
{% endblock %}

{% block sidebar %}
   <div id="search-form">
     <h3>{% trans "Search" %}</h3>
     <form method="get">
       {{ search_form }}
       <button>{% trans "Search" %}</button>
     </form>
   </div>
{% endblock %}

{% block main %}
  {% with popup_edit=True %}
	  {% render_table table "authentic2/manager/table.html" %}
  {% endwith %}
  {% include "authentic2/manager/export_include.html" with export_view_name="a2-manager-users-export" %}
{% endblock %}
