{% extends "authentic2/manager/form.html" %}
{% load i18n %}

{% block page-title %}{{ block.super }} - {% trans "Edit user" %} {{ object }}{% endblock %}

{% block page_title %}{% trans "Edit user" %} {{ object }}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{% url 'a2-manager-users' %}">{% trans 'User management' %}</a>
  <a href="#">{{ object.get_full_name }}</a>
{% endblock %}

{% block appbar %}
  <a href="{% url "a2-manager-user-roles" pk=object.pk %}?search-ou={% firstof object.ou.pk default_ou.pk %}">{% trans "Roles" %}</a>
{% endblock %}

{% block beforeform %}
  <p>
    <label for="id_uuid">{% trans "UUID" %}&nbsp;:</label>
    <input disabled type="text" id="id_uuid" value="{{ form.instance.uuid }}"/>
  </p>
{% endblock %}

{% block afterform %}
  {% if object.passwordreset_set.exists %}
    <div class="warning-box">{% trans "User must change its password on next access to authentic" %}
      <input type="submit" name="delete_password_reset" value="{% trans "Cancel this constraint" %}"/>
    </div>
  {% endif %}
{% endblock %}
