{% extends "base.html" %}
{% load breadcrumbs i18n %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url 'Register' %}
{% endblock %}


{% block content %}

<h2>{% trans "Login" %}</h2>
<p>{% trans "Multiple accounts are associated to this email." %}
{% trans "Please choose the account you want to log in with:" %}
</p>


<ul>
  {% for account in accounts %}
  <li><a href="{% url "registration_activate" registration_token %}?username={{ account.username|urlencode }}">{{ account }}</a></li>
  {% endfor %}
</ul>

<p>
  {% trans "or" %}
  <a href="{% url "registration_activate" registration_token %}?create">
    {% trans "create a new account" %}
  </a>
</p>

{% endblock %}
