{% extends "authentic2/base-page.html" %}
{% load i18n %}
{% block content %}
  <form method="post" id="a2-oidc-authorization-form">
    <p>{% blocktrans with client_name=client.name %}Do you want to be authenticated on service {{
    client_name }} ?{% endblocktrans %}</p>
    {% if scopes %}
      <p>{% trans "The following informations will be sent to the service:" %}</p>
      <ul>
        {% for scope in scopes %}
          {% if scope == "profile" %}
            <li>{% trans "Your first and last name, your username," %}</li>
          {% elif scope == "email" %}
            <li>{% trans "Your email" %}: {{ user.email }},</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% csrf_token %}
    <input type="submit" name="accept" value="{% trans "Accept" %}">
    <input type="submit" name="refuse" value="{% trans "Refuse" %}">
  </form>
{% endblock %}
